.mainHeader {
    max-width: 100%;
    height: 11.3vh;
    padding: 0;
    /* background-color: red; */
    
}

.topHeader {
    display: flex;
    flex-direction: row;
    max-width: 100%;
    height: 4vh;
    border: solid 1px;
    border-color: rgba(173, 173, 173, 0.7);    
    background-color: white;
    
}

.topHeaderLinks1 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: .8em;
    padding: 0 2em;
    width: 6em;
    height: 4vh;
    border-right-style: solid;
    border-width: 1px;
    border-color: rgba(173, 173, 173, 0.7);
    /* color: rgba(116, 116, 116, 0.70);     */
     
}
.topHeaderLinks2 {
    width: 4.5em;
    height: 4vh;
    background-image: url('./../images/airJordan.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    border-right-style: solid;
    border-width: 1px;   
    border-color: rgba(173, 173, 173, 0.7);    
}
.topHeaderLinks3 {
    width: 6em;
    height: 4vh;
    background-image: url('./../images/Hurleylogo.png');  
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;  
    border-right-style: solid; 
    border-width: 1px; 
    border-color: rgba(173, 173, 173, 0.7);
    padding: 0 1.5em;    
}
.topHeaderLinks4 {
    width: 7em;
    height: 4vh;
    background-image: url('./../images/converse1.png');  
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    border-right-style: solid;
    border-width: 1px;  
    border-color: rgba(173, 173, 173, 0.7);  
    padding: 0 1em;  
}

.endLinks {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 70%;
}
.topHeaderLinks5 {
    display: flex;
    align-items: center;
    height: 4vh;
    width: 16em;
    font-size: .8em;
}
.topHeaderLinks6 {
    display: flex;
    align-items: center;
    height: 4vh;
    width: 4em;
    font-size: .8em;
}
.topHeaderLinks7 {
    display: flex;
    align-items: center;
    height: 4vh;
    width: 2em;
    font-size: .8em;
}
.topHeaderLinks8 {
    display: flex;
    align-items: center;
    height: 2vh;
    width: 2em;
    background-image: url('./../images/united-states.png');  
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.bottomHeader {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    max-width: 100%;
    height: 7vh;
    border: solid 1px;
    border-top-style: none;
    border-color: rgba(116, 116, 116, 0.70);    
    background-color: white;
}

.nikeHome {
    display: flex;
    align-items: center;
    height: 4vh;
    width: 4em;
    margin-left: 2em;
    margin-right: 10em;
    background-image: url('./../images/nikeLogo.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    /* background-color: greenyellow; */
}

.menuSpread {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 4vh;
    width: 25em;
    /* margin: 0 3em 0 15em; */
}

.menuSpread a {
    text-decoration: none;
    color: black;    
}

.menuSpread a:focus {
    padding-top: 2px;
    border-bottom: solid 2px black;
}

.menLink, .womenLink, .boysLink, .girlsLink, .customizeLink {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 6.8vh;
    width: 5em;
    font-family: 'Open Sans Condensed', sans-serif;    
    font-weight: 700;
    font-size: .9em;
}

.searchContainer {
    display: flex;
    align-items: center;
    width: 14em;
    height: 4vh;
    margin-right: 2em;
    border: solid 1px;
    font-size: .9em;
    border-color: rgba(165, 165, 165, 0.7);
    border-radius: 2px;
}

.magnifyingGlass {
    width: 1.5em;
    height: 1.5em;
    background-image: url('./../images/searchIcon.png');
    background-size: contain;
    background-repeat: no-repeat;
    margin: 0 1em 0 1em; 
}
.searchLink {
    
}