.homeHeader {
    height: 432vh;
    width: 100%;
}

.headliner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    width: 100%;
    /* padding-top: 11.3vh; */
    background-image: url('./../images/headliner.png');
    background-size: cover;
    background-position: center;
}

.secondSection {
    display: flex;
    justify-content: center;
    height: 30vh;
    width: 100%;
    border-bottom: solid 1px;
    border-color: rgba(165, 165, 165, 0.7);
}

.sectionHeader {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 30vh;
    width: 40em;
}

.title {
    font-family: 'Open Sans Condensed', sans-serif;    
    font-weight: 700;
    font-size: 2em;    
}

.body {
    text-align: center;
    line-height: 1.2em;
    /* font-family: 'Open Sans Condensed', sans-serif; */
    font-size: 1em;
}

.shopButtonsContainer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 5vh;
    width: 15em;
    margin-top: 1em;
}

.shopButton {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4vh;
    width: 8em;
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 700;
    font-size: .8em;
    border: solid 1px;
    border-color: rgba(212, 212, 212, 0.7);
}

.thirdSection {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 83vh;
    width: 100%;
  
}

.thirdSectionTitle {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 9vh;
    width: 93%;
    /* background-color: rgb(218, 218, 59); */
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 700;
    font-size: 1.3em;
    /* margin-left: 2.5em; */
}

.placeholderContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 74vh;
    width: 93%;
}

.placeholder {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
    height: 60vh;
    width: 23.5em;
}

.lightShade {
    color: rgba(168, 168, 168, 0.7);
}

.pic1 {
    height: 50vh;
    width: 23.5em;
    background-image: url('./../images/pic1.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.pic2 {
    height: 50vh;
    width: 23.5em;
    background-image: url('./../images/pic2.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.pic3 {
    height: 50vh;
    width: 23.5em;
    background-image: url('./../images/pic3.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.pic4 {
    height: 50vh;
    width: 23.5em;
    background-image: url('./../images/pic4.png');
    background-size: cover;
    background-repeat: no-repeat;
}

/* .textContain {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
} */

p {
    font-size: .9em;
}

.fourthSection {
    display: flex;
    height: 77vh;
    width: 100%;
    background-color: red;
}

.layerSmarter {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 77vh;
    width: 50%;
    background-color: rgb(87, 87, 87);
}

.layerContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 35vh;
    width: 35em;
    color: white;
}

.layerTitle {
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 700;
    font-size: 2.5em;

}

.body2 {
    text-align: center;
    line-height: 2em;
    font-size: 1em;
}

.shopNow {
    font-size: .8em;
    /* margin-top: 1em; */
}

.layerSmarter2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 77vh;
    width: 50%;
    background-image: url('./../images/layerSmarter.png');
    background-size: cover;

}

.pic5 {
    height: 50vh;
    width: 23.5em;
    background-image: url('./../images/pic5.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.pic6 {
    height: 50vh;
    width: 23.5em;
    background-image: url('./../images/pic6.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.pic7 {
    height: 50vh;
    width: 23.5em;
    background-image: url('./../images/pic7.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.pic8 {
    height: 50vh;
    width: 23.5em;
    background-image: url('./../images/pic8.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.lastSection {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
    width: 100%;
    /* background-color: purple; */
    border-top: solid 1px;
    border-color: rgba(212, 212, 212, 0.7);
}

.lastSectionContainer {
    display: flex;
    justify-content: space-between;
    height: 45vh;
    width: 93%;
}

.jackets {
    height: 45vh;
    width: 32em;
    background-image: url('./../images/jackets.png');
    background-size: cover;
}

.fleece {
    height: 45vh;
    width: 32em;
    background-image: url('./../images/fleece.png');
    background-size: cover;
}

.tights {
    height: 45vh;
    width: 32em;
    background-image: url('./../images/tights.png');
    background-size: cover;
}